{% extends "::base.html.twig" %}

{% block title %}AppBundle:HomePage:list{% endblock %}

{% block body %}
    <row>
        <div class="col-md-12">
            <div class="col-md-8">
                <h1>Welcome in the News Service</h1>
            </div>
            <div class="col-md-6">
                <a href="{{ path('admin_index') }}" class="btn btn-success">{{ 'Admin Panel' }}</a>
            </div>
        </div>
    </row>
    {% for post in news %}
        <div>
            <h3>{{ post.header }}</h3>
            <p>{{ post.content }}</p>
            <h5>{{ post.updatedAt|date('Y-m-d H:i:s') }}</h5>
        </div>
    {% endfor %}
{% endblock %}
